@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
}

body {
  @apply font-sans;
  background: hsla(240, 2%, 25%, 1);

  background: linear-gradient(
    90deg,
    hsla(240, 2%, 25%, 1) 0%,
    hsla(60, 22%, 30%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(240, 2%, 25%, 1) 0%,
    hsla(60, 22%, 30%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(240, 2%, 25%, 1) 0%,
    hsla(60, 22%, 30%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#3f3f42", endColorstr="#5d5d3c", GradientType=1 );
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}
