@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
}

body {
  @apply font-sans;
  background: hsla(240, 2%, 25%, 1);

  background: linear-gradient(
    90deg,
    hsla(240, 2%, 25%, 1) 0%,
    hsla(60, 22%, 30%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(240, 2%, 25%, 1) 0%,
    hsla(60, 22%, 30%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(240, 2%, 25%, 1) 0%,
    hsla(60, 22%, 30%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#3f3f42", endColorstr="#5d5d3c", GradientType=1 );
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

form {
  position: relative;
  z-index: 1;
}

@layer utilities {
  input:-webkit-autofill,
  textarea:-webkit-autofill {
    @apply bg-transparent text-inherit border-green !important;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-text-fill-color: #ffffff !important;
    transition: background-color 5000s ease-in-out 0s;
    caret-color: inherit;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px; /* Reduced width */
}

::-webkit-scrollbar-track {
  background: #414141; /* Background of the scrollbar track */
  border-radius: 6px; /* Slightly smaller border-radius */
}

::-webkit-scrollbar-thumb {
  background: #00c896; /* Scrollbar handle */
  border-radius: 6px; /* Matching smaller border-radius */
}

::-webkit-scrollbar-thumb:hover {
  background: #048867; /* Scrollbar handle on hover */
}

